.posts-expand {
  .post-eof {
    display: block;
    margin: 16px auto 50px//$post-eof-margin-top auto $post-eof-margin-bottom; Fixed
    width: 100%//8%;
    height: 1px;
    background: $grey-light;
    text-align: center;
  }
}


.post:last-child {
  .post-eof.post-eof.post-eof {
    display: none;
  }
}
