

$font-size-base           = (hexo-config('font.enable') and hexo-config('font.global.size') is a 'unit') ? unit(hexo-config('font.global.size'), em) : 1em;
$font-size-smallest       = 0.675em ;//.75em;
$font-size-smaller        = .75em; //.8125em;
$font-size-small          = .8125em; //.875em;
$font-size-medium         = .875em; //1em;
$font-size-large          = 1em; //1.125em;
$font-size-larger         = 1.125em; //1.25em;
$font-size-largest        = 1.25em; //1.5em;
$font-size-title          = 1.375em;

$content-desktop-large        = 960px;//1160px; fixme

$custom_linkcolor = #0681d0
$custom_foreground = #c7254e
$custom_foreground_background = #f2f2f2
$custom_link-hover-color = blue